<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Rabit Habit</title>
    <script src="js\script.js"></script>
    <script src="js\login.js"></script> 
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>
  <!------NAVBAR SECTION------>
<header class="header">
  <nav class="navbar">
    <ul class="nav-menu">
      <div>
        <h3>Rabit Habit</h3>
      </div>
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Resources</a>
      </li>
      <img src="images\bunny-inverse-removebg-preview(2).png" alt="" class="top-bunny">
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
<!------homepage SECTION------>
<section id="homepage">
<img src="images\ojcarrot1.png" alt="" class="carrot">
<img src="images\bunny-inverse-removebg-preview(2).png" alt="" class="bunny">
<br>
<h1>Rabit Habit</h1>
<p>Habit tracker</p>
<div class="login-form">
  <form action="/login" method="POST">
    <div>
    <input type="UserName" id="name" name="name" placeholder="UserName" class="UserName">
    </div>
    <input type="text" name="email" placeholder="Email@test.com" class="email" id="email">
    <br>
    <input type="text" name="password" placeholder="Password" class="password" id="password">
    <div>
    <input type="submit" name="login" value="login" onclick="validate()" class="login-btn" id="login-btn">
    </div>
  </form>
  <a href="/register" class="register-btn">Register</a>
</div>
</section>

<!------Footer SECTION------>
<footer class="footer">
  <img src="\images\gitcat.png" alt="" class="gitcatoj">
</footer>