<h1>Register</h1>
<form action="/register" method="POST">
    <div>
    <input type="UserName" id="name" name="name" placeholder="UserName" class="UserName">
    </div>
    <input type="text" name="email" placeholder="Email@test.com" class="email" id="email">
    <br>
    <input type="text" name="password" placeholder="Password" class="password" id="password">
    <div>
    <input type="submit" name="" value="login" onclick="validate()" class="login-form button" id="login-form button">
    </div>
  </form>
  <a href="/login">Login</a>